/* Resetting default styles for better consistency across browsers */
body {
  font-family: serif, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5; /* Change to a lighter background color */
}

/* Styling for the header */
header {
  background: black; /* Maroon color */
  color: #fff; /* White text color */
  padding: 10px;
  text-align: center;
}

/* Styling for the navigation bar */
nav {
  background: black; /* Maroon color */
  overflow: hidden;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav li {
  display: inline;
  margin-right: 20px;
}

nav a {
  display: inline-block;
  color: #fff; /* White text color */
  text-decoration: none;
  padding: 14px 16px;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #ddd; /* Lighter color on hover */
}

/* Styling for the jumbotron */
.jumbotron {
  background: #000; /* Black background */
  color: black; /* White text color */
  padding: 60px;
  text-align: center;
  border: 2px solid #fff; /* White border */
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.jumbotron h2 {
  font-size: 2.5em; /* Larger font size */
  margin-bottom: 20px;
}

.jumbotron p {
  font-size: 1.4em; /* Larger font size */
  line-height: 1.6;
}

/* Styling for headings */
h2 {
  text-align: center;
  color: #000; /* Black text color */
  margin-top: 30px;
  padding-top: 80px;
}

/* Styling for the content container */
#jsonContent {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f5f5f5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Styling for function details */
.function-div {
  cursor: pointer;
  border-bottom: 1px solid #f5f5f5;
  padding: 15px 0;
  transition: background-color 0.3s, color 0.3s;
}

.function-div:hover {
  background-color: #eee;
  color: #800000;
}

.function-title {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
  color: #800000;
}

.function-details {
  display: none;
  margin-top: 10px;
}

.function-div:hover .function-details {
  color: #800000;
}

/* Styling for translations */
.translation {
  margin-bottom: 10px;
  color: #333;
}

.translation strong {
  color: #800000;
}

/* Styling for audio player */
.audio {
  margin-top: 5px;
  background-color: black;
  color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
}

/* Styling for logo container */
.logo-container {
  text-align: center;
  margin-top: 20px;
}

.logo img {
  max-width: 200px;
}

/* Styling for search bar and language selector */
#searchBar,
#languageSelector {
  margin: 10px auto; /* Center horizontally */
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f5f5f5;
  color: #000;
  display: block; /* Make them block elements to center vertically */
  width: 80%; /* Set a width to control the size */
  max-width: 300px; /* Add a maximum width to prevent it from becoming too wide */
}

#searchBar:hover,
#languageSelector:hover {
  background-color: #ddd;
}
/* Styling for labels */
label {
  font-size: 18px;
  color: #800000;
  margin-bottom: 8px;
  display: block;
}

/* Styling for the interactive form */
#interactiveForm {
  margin: 20px auto;
  max-width: 600px;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Styling for logo animation */
.logo {
  max-width: 200px; /* Adjust the max-width as needed */
  margin-top: 20px; /* Add space between text and logo */
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 5px; /* Adjust the padding value to make the footer thinner */
}
